<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
    body {
        background-image: url('../static/img/롤드컵.gif');
        background-size: cover;
        background-repeat: repeat;
        background-position: center ;
        background-attachment: fixed;
    }
    #button_hi_1 {
            width: 1450px;
            height: 750px;
            position: absolute;
            bottom: 90px;
            margin-left: 9%;
            opacity: 0;
        }
    </style>
</head>
<body>

    <div><a href="predict.html"><img id="button_hi_1" src="../static/img/승부예측로고.png"></a></div>
</body>
</html>

